/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: whitesmoke;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5% 20% 10% 20%;
}

#navMenu ul {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: lightblue;
}

#navMenu li {
  display: inline;
  padding: 20% 2% 20% 2%;
}

#header {
  text-transform: capitalize;
}

#footer {
  padding-top: 10ch;
  text-align: center;
}

#blogpost h1 {
  font-size: 30px;
  margin-bottom: 0;
}

#blogpost li {
  margin: 10px 0;
  line-height: 22px;
}

#blogpost p {
  line-height: 22px;
}